@supports (grid-area:auto){

  .site{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 500px 40px 350px;
    grid-template-areas:
      'nv nv nv nv nv nv nv nv'
      '. mn mn mn mn mn mn .'
      'ftt ftt ftt ftt ftt ftt ftt ftt'
      'ft ft ft ft ft ft ft ft';
    background-color: #f7f7f7;
  }

  .flex{
    display: flex;
  }

/*--Navbar----------------------------------------*/
  .navbar{
    grid-column: nv;
    background-color: #000000f5;
    justify-content: space-around;
    align-items: center;
    color: #ccc;
  }

  .nav-box{
    align-items: center;
    justify-content: space-around;
  }

  #page-title{
    flex-direction: column;
    color: #ccc;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia;
  }

/*--Main----------------------------------------*/

  .main{
    grid-column: mn;
    color: #2a2a2a;
  }

  #meals{
    width: 80%;
  }

/*--Footer----------------------------------------*/

  .footer-top{
    grid-column: ftt;
    color: #2a2a2a;
    border-top: 1px solid #dedede;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
  }

  .footer{
    grid-column: ft;
    color: #2a2a2a;
    border-top: 1px solid #dedede;
    font-family: Roboto;
    justify-content: space-around;
  }

  .footer h5{
    font-family: Roboto-Bold;
  }

  .footer p{
    font-size: 0.83em;
  }

  a{
    text-decoration: none;
    color: #2a2a2a;
  }

  a:hover{
    color: #5a82c1;
  }

  @font-face {
    font-family: Roboto-Bold;
    src: url('../css/fonts/Roboto/Roboto-Bold.ttf');
  }

  @font-face {
    font-family: Roboto;
    src: url('../css/fonts/Roboto/Roboto-Regular.ttf');
  }


}
